<!-- Se não está gravando, mostra o botão startRecording -->
<div *ngIf="!isRecording">
  <button (click)="startRecording()">Iniciar Gravação</button>
</div>
<!-- Se está gravando, mostra o texto gravando e o botão para parar de gravar -->
<div *ngIf="isRecording">
  <p>Gravando...</p>
  <button (click)="stopRecording()">Interromper Gravação</button>
</div>


<!-- Se apertou pra interromper e o console foi declarado tru, exibe o console e o botão que chama o método para dar play no audio -->
<div *ngIf="clickouPararGravacao && showConsole">
  <audio [src]="audioUrl" controls></audio>
  <button (click)="playRecordedAudio()">Reproduzir Áudio</button>
  <button (click)="sendAudio()">Enviar</button>
</div>

